body {
  font: $shMainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $contentFontColor;
  background-color: $bodyBackgroundColor;
}

nav {
  margin-bottom: $unit*2;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}