<div class="svg-mask">
  <div class="text">
    <svg>
      <defs>
        <mask id="mask" class="mask" x="0" y="0" width="100%" height="100%" >
          <rect class="alpha" x="0" y="0" width="100%" height="100%"/>
          <text class="title" x="50%" y="0" dy="1.58em"></text>
          <text class="subtitle" x="50%" y="0" dy="9.8em"></text>
        </mask>
      </defs>
      <!-- bg color -->
      <rect class="base" x="0" y="0" width="100%" height="100%"/>
    </svg>
  </div>

  <section class="intro"></section>
</div>
