{{#halfHeightHero}}
  <div class="half-height-hero-container">
    <div class="half-height-hero__overlay"></div>
    <div class="half-height-hero__text-container">
      <h1 class="half-height-hero__title-text">
        {{titleText}}
      </h1>
      <div class="divider"></div>
      <h1 class="half-height-hero__dynamic-text">
        {{dynamicText}}<span id="dynamicWord" class="half-height-hero__dynamic-word" style="display: none"></span>
      </h1>
    </div>
  </div>
{{/halfHeightHero}}

<script>
  $(document).ready(function () {
    const words = '{{halfHeightHero.dynamicWords}}';
    const colors = '{{halfHeightHero.dynamicWordColors}}';
    const wordsArray = words.split(',');
    const colorsArray = colors.split(',');
    console.log(colorsArray);
    const $dynamicWord = $('#dynamicWord');
    $dynamicWord.css('color', colorsArray[0]).text(wordsArray[0]).fadeIn();
    //set to 1 as we already used the first word
    let i = 1;
    let wordInterval = setInterval(function () {
      $dynamicWord.fadeOut(function () {
        $(this).css('color', colorsArray[i]).text(wordsArray[i]).fadeIn();
        if (i >= wordsArray.length - 1) {
          clearInterval(wordInterval);
        } else {
          i++;
        }
      });
    }, 1000);
  });
</script>