<div class="psc-l-wrapper margin --section">
  <div class="psc-l-left-container" style="background-image: url('/api/media/{{quote_background_image}}')">
    <div class="psc-l-text__wrapper">
      <div class="psc-l-text__background">
        <div class="psc-l-text main-font --italic --size-md"> {{quote_text}}</div>
      </div>
    </div>
  </div>
</div>

