<div class="post top margin --section">
  {{#post}}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="post__background-img margin --default" style="background-image: url('/api/media/{{feature_image}}');"></div>
          <h5 class="post__author"><span class="main-font --content-color">Author:</span> <span class="second-font --bold ">{{authorName}}</span></h5>
          <h5 class="post__published margin --default --content-color"><span class="main-font">Published: </span><span class="second-font --bold">{{#time publish_date}}{{/time}}</span></h5>
          <h3 class="post__title margin --default second-font --bold --size-lg">{{title}}</h3>
          <div class="post__content margin --default second-font --size-sm --content-color">
            {{{content}}}
          </div>
        </div>
      </div>
    </div>
  {{/post}}
</div>
