<div class="container top">
  <div class="row">
    <h3 class="main-font --content-color --size-lg  margin --heading">Posts</h3>
  </div>
  <div class="row">
    {{#if posts}}
      {{#each posts}}
        {{title}}
        {{content}}
      {{/each}}
    {{else}}
      No posts
    {{/if}}
  </div>
</div>
