{{#page}}
  {{> header/_header}}
{{/page}}

{{> navs/nav/_nav}}
<div class="container top">
  <div class="row">
    <h3 class="main-font --content-color --size-lg  margin --heading">Insightful Thoughts</h3>
  </div>
  <div class="row">
    {{#if posts}}
      {{#each posts}}
        {{> post-snippet/_post-snippet}}
      {{/each}}
    {{else}}
      No posts
    {{/if}}
  </div>
</div>
