<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="/api/media/{{img}}">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">{{title}}<i class="material-icons right">more_vert</i></span>
    <p><a href="#">This is a link</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
    <p>{{extract}}</p>
  </div>
</div>