{{> header/_header}}
{{> navs/nav/_nav}}
<div class="about top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="about__img-container margin --default">
          <div class="about__img" style="background-image: url(/api/media/{{image}})"></div>
        </div>
        <div>
          <h3 class="second-font --content-color --size-lg  --bold margin --heading">{{title}}</h3>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <p class="main-font --content-color --size-sm margin --heading">{{description}}<p>
      </div>
    </div>
  </div>
</div>