<div class="icon-tile">
  <a href="{{href}}">
    <div class="icon-tile__icon-container">
      <img class="icon-tile__icon" src="{{icon}}" alt="{{alt}}">
    </div>
    <div class="icon-tile__text">
      {{text}}
    </div>
  </a>
</div>