<header class="header-slider">
  <div class="header-slider__text-container">
    <h1 class="header-slider__title">{{header_title}}</h1>
    <h2 class="header-slider__subtitle">{{header_subtitle}}</h2>
  </div>
  <div class="carousel carousel-slider">
    <div class="slider-overlay"></div>
    {{#each carouselImages}}
      <a class="carousel-item" href="#{{@index}}">
        <img src="/api/media/{{this}}">
      </a>
    {{/each}}
  </div>
</header>