<div class="sandbox-header">
    <div class="sandbox-header-container">
        <h1> Component Sandbox </h1>
        <p> A place to test components.</p>
    </div>
</div>

<div class="sandbox-separator"></div>

<!-- test the pointed divider sections -->
<h2 class="sandbox-title"> Pointed Separator Sections</h2>
<h3 class="sandbox-sub-title"><span>Component name:</span> "psc-r"
    <span>- pointed separator contained (from) right.</span></h3>
<div class="sandbox-separator"></div>
{{> psc-r-divider/_psc-r-divider}}
<div class="sandbox-separator"></div>

<h3 class="sandbox-sub-title"><span>Component name:</span> "psc-l"
    <span>- pointed separator contained (from) left.</span></h3>
<div class="sandbox-separator"></div>
{{> psc-l-divider/_psc-l-divider}}
<div class="sandbox-separator"></div>

<h3 class="sandbox-sub-title"><span>Component name:</span> "pse-r"
    <span>- pointed separator extended (from) right.</span></h3>
<div class="sandbox-separator"></div>
{{> pse-r-divider/_pse-r-divider}}
<div class="sandbox-separator"></div>




<h3 class="sandbox-sub-title"><span>Component name:</span> "pse-l"
    <span>- pointed separator extended (from) left.</span></h3>
<div class="sandbox-separator"></div>
{{> pse-l-divider/_pse-l-divider}}
<div class="sandbox-separator"></div>


<h2 class="sandbox-title"> Responsive Medium Height Slider</h2>
<h3 class="sandbox-sub-title"><span>Component name:</span> "full-slider"</h3>
<p class="sandbox-p"> Dependency - Bootstrap</p>
<div class="sandbox-separator"></div>
{{> full-slider/_full-slider}}
<div class="sandbox-separator"></div>




<h2 class="sandbox-title"> Slick Slider (plugin) </h2>
<h3 class="sandbox-sub-title"><span>Component name:</span> "slick-slider-sm"</h3>
<p class="sandbox-p"> Dependency - Slick-Slider</p>
<div class="sandbox-separator"></div>
{{> slick-slider-sm/_slick-slider-sm}}
<div class="sandbox-separator"></div>


<!-- 2 col blog stle layout nav style -->
<h2 class="sandbox-title">2-col-content-listing </h2>
<h3 class="sandbox-sub-title"><span>Component name:</span> "2col-equal-collapse"</h3>
<div class="sandbox-separator"></div>
{{> 2col-equal-collapse/_2col-equal-collapse}}
<div class="sandbox-separator"></div>



<!--3 col collapsable sections -->
<h2 class="sandbox-title"> 3-col Collapsable Sections -- Displayed within a container "1250px" </h2>
<h3 class="sandbox-sub-title"><span>Component name:</span> "3col-equal-collapse"</h3>
<div class="sandbox-separator"></div>
<div class="div" style="max-width:1250px; margin: 0 auto;">
    {{> 3col-equal-collapse/_3col-equal-collapse}}
</div>
<div class="sandbox-separator"></div>


<!-- 3 col Blog List -->
<h2 class="sandbox-title"> 3-col Content Listing Page -- Uses 3-col equal collapse -- Displayed within a container
    "1250px" </h2>
<h3 class="sandbox-sub-title"><span>Component name:</span> "3col-equal-collapse"</h3>
<div class="sandbox-separator"></div>
<div class="div" style="max-width:1250px; margin: 0 auto;">
    {{> 3col-blog-roll/_3col-blog-roll}}
</div>
<div class="sandbox-separator"></div>


<!-- 3 col Blog List -->
<h2 class="sandbox-title"> Post Template - 2 Col -- uses 2-col-equal-collapse -- Displayed within a container
    "1250px" </h2>
<h3 class="sandbox-sub-title"><span>Component name:</span> "post-template-2-col-collapse"</h3>
<div class="sandbox-separator"></div>
<div class="div" style="max-width:1250px; margin: 0 auto;">
    {{> post-template-2col-equal-collapse/_post-template-2col-equal-collapse}}
</div>
<div class="sandbox-separator"></div>


<!-- LO nav style -->
<h2 class="sandbox-title"> Learning Outfitters Sticky Nav</h2>
<h3 class="sandbox-sub-title"><span>Component name:</span> "nav-maxima"</h3>
<p class="sandbox-p"> Dependency - Bootstrap</p>
<div class="sandbox-separator"></div>
{{> nav-maxima/_nav-maxima}}
<div class="sandbox-separator"></div>
