<div class="container">
  <div class="error-container">
    <img class="error-img" src="/site/public/img/error-404.png" alt="404 image">
    <h2 class="error-message">{{message}}</h2>
  </div>
</div>
