{{#page}}
  {{> header/_header}}
{{/page}}
{{> navs/nav/_nav}}
<div class="top">
  <div class="container">
    {{#each services}}
      {{> services-card/_services-card}}
    {{/each}}
  </div>
</div>
