{{#blogListing1}}
  <div class="blog-listing-1-container">
    {{#each articles}}
      {{#modOf @index 2}}
        {{> misc/blog-listing-tile-inverse/_blog-listing-tile-inverse}}
      {{else}}
        {{> misc/blog-listing-tile/_blog-listing-tile}}
      {{/modOf}}
    {{/each}}
  </div>
{{/blogListing1}}