{{!-- do not use any "" quotes in this html it will break the popover bootstrap logic --}}
<div class=account-popover>
  <ul class=account-popover__list>
    <li class=account-popover__list-item><a href=/cms/logout><span class=ion-power>&nbsp;</span>Logout</a></li>
  </ul>
</div>