<div class="modal fade" id="imageModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Image upload</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <!-- dropzone JS is created dynamically in the main.js file -->
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
