{{#popInContactForm}}
  <div id="popInContactFrmTrigger" class="pop-in-contact-form__trigger">
    <img class="pop-in-contact-form__trigger-icon" src="{{icon}}" alt="contact icon">
  </div>

  <div id="popInContactFrm" class="pop-in-contact-form">
    <div id="popInCloseBtn" class="pop-in-contact-form__close-btn"></div>
    <h3 class="pop-in-contact-form__heading">{{heading}}</h3>
    <form action="" class="pop-in-contact-form__form" method="post">
      {{#each inputs}}
        {{> input-group-1/_input-group-1}}
      {{/each}}
      {{> ghost-button/_ghost-button}}
    </form>
  </div>
{{/popInContactForm}}

<script>
  $(document).ready(function () {
    const $popInContactFrm = $('#popInContactFrm');
    $('#popInContactFrmTrigger').click(function () {
      $popInContactFrm.toggleClass('open');
    });
    $('#popInCloseBtn').click(function () {
      $popInContactFrm.removeClass('open');
    });
  });
</script>
