<button type="button" class="btn btn-primary image-modal-btn">Upload Image</button>
<div class="upp-dashboard-anchor"></div>
<div id="imageThumbnailPreview" class="image-thumbnail-preview-container">
  {{#if mediaPreview}}
    <img src="{{mediaPreview}}" alt="" class="image-thumbnail-preview">
  {{/if}}
</div>
