<div class="modal fade" id="imageGalleryModal">
	<div class="upp-dashboard-anchor"></div>

	<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Images</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div id="imageGalleryImageContainer" class="image-gallery__image-container"></div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
	      <button type="button" class="btn btn-success image-modal-btn float-left">Upload Image</button>
	      <button type="button" class="btn btn-primary" data-dismiss="modal" id="imageGalleryAddImageBtn">Use Image</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
