<div class="welcome-container">
  <h1>Welcome to Blogmill</h1>
  <p>You will find your cms at /cms. If this is your initial install login details are admin, password. Be sure to change these!</p>
  <p>Check the readme to find out what you can do with the cms!</p>
</div>