{{> header-slider/_header-slider}}
<section class="homepage-section services-section">
  <div class="container">
    <h1 class="section-heading">Services</h1>
    {{#each services}}
      <div class="row">
        <div class="col s4 m4 l4 x4">
          {{> pop-up-card/_pop-up-card title=name img=image_square}}
        </div>
      </div>
    {{/each}}
  </div>
</section>

<a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('open')">Open tap target</a>
<a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('close')">Close tap target</a>
<div class="tap-target-wrapper open" style="right: -348px; bottom: -327px; position: fixed;"><div class="tap-target cyan" data-target="menu">
  <div class="tap-target-content white-text" style="width: 456px; height: 400px; top: 0px; right: 0px; bottom: 0px; left: 0px; padding: 56px; vertical-align: bottom;">
    <h5>I am here</h5>
    <p class="white-text">Provide value and encourage return visits by introducing users to new features and functionality at contextually
      relevant moments.</p>
  </div>
</div><div class="tap-target-wave" style="top: 344px; left: 344px; width: 112px; height: 112px;"><a class="btn btn-floating btn-large cyan tap-target-origin">
  <i class="material-icons">menu</i>
</a></div></div>