<div class="col-md-6 col-12 margin --heading d-flex">
  <div class="post-snippet__wrapper">
    <div class="post-snippet__image-wrapper">
      <div class="post-snippet__image  margin --default" style="background-image: url('/api/media/{{feature_image}}');"></div>
    </div>
    <h5 class="post-snippet__author"><span class="main-font --content-color">Author:</span> <span class="second-font --bold ">{{authorName}}</span></h5>
    <h5 class="post-snippet__published margin --default --content-color"><span class="main-font">Published: </span><span class="second-font --bold">{{#time publish_date}}{{/time}}</span></h5>
    <h4 class="post-snippet__title margin --default second-font --bold --size-lg">{{#trimText title 30}}{{/trimText}}</h4>
    <p class="post-snippet__excerpt margin --default second-font --size-sm --content-color">{{#trimText excerpt 220}}{{/trimText}}</p>
    <div class="post-snippet__button-wrapper">
      <a href="/posts/{{permalink_slug}}" class="post-snippet__href button__primary second-font --size-sm --bold">More</a>
    </div>
  </div>
</div>