{{! "image_sqaure" could be replaced with some CSS that crops the other image provided }}
<div class="col-12 d-flex margin --section">
  <div class="services-card__wrapper">
    <div class="services-card__img-wrapper margin --default">
      <div class="services-card__img " style="background-image: url('/api/media/{{image_wide}}');"></div>
    </div>
    <h4 class="services-card__title margin --default second-font --bold --size-md">{{name}}</h4>
    <p class="services-card__extract margin --default main-font --content-color --size-sm">{{description}}</p>
  </div>
</div>

