<header class="header">
  <div class="header__background-img-container">
    <div class="header__background-img" style="background-image: url('/api/media/{{header_image}}');"></div>
    <div class="header__dark"></div>
  </div>
  <div class="header__container">
    <h3 class="header__title main-font --size-lg">{{header_title}}</h3>
    <h5 class="header__subtitle main-font --italic --size-md">{{header_subtitle}}</h5>
  </div>
</header>