<div class="container">
  <div class="error-container">
    <img class="error-img" src="cms/public/img/error-404.png" alt="404 image">
    <h2 class="error-message">Page not found</h2>
  </div>
</div>
