<div class=" container">
  <div class="error-container">
    <h1 class="error-heading">Something went wrong</h1>
    <img class="error-img" src="cms/public/img/error-500.png" alt="500 image">
    <h2 class="error-message">{{message}}</h2>
    <h3 class="error-message">Please quote this support ID: {{supportId}}</h3>
  </div>
</div>