.error-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}
.error-heading{
  margin-bottom: $unit*2;
}
.error-img{
  height: 180px;
  margin-bottom: $unit*2;
}
.fof-container {
  text-align: center;
  position: relative;
}

.fof-heading {
  margin-top: $unit*6;
}